{% extends "website/base_index.html" %}

{% block title %}目的地首页{% endblock %}
{% block content %}

<!--
-国家
{%for country in country_list %}
	<a href="{%url 'des_detail' "country" country.id %}"><h1>{{country.country_name}}</h1></a>
{% endfor %}
-省份-
{% for province in province_list%}
	<a href="{%url 'des_detail' "province" province.id %}"><h2>{{province.province_name}}</h2></a>
{% endfor %}
-->
<div class="container" >
	<div class="col-md-2 col-md-offset-1">
		<div class="row" style="padding-top:50px;">
			<div class="panel panel-danger">
 			 <!-- Default panel contents -->
 				<div class="panel-heading">国外目的地</div>
 				<div class="panel-body" style="padding-left:0; padding-right:0; padding-bottom:0; padding-top:10px;">
    					<div style="padding:0;">
    						{%for country in country_list %}
							<div class="col-md-6" style="padding-left:5px;padding-right:5px;">
								
								<button type="button" class="btn btn-danger btn-block btn-xs" style="margin-bottom:10px;" onclick="javascript:window.location.href='{%url 'des_detail' "country" country.id %}' ">
										{{country.country_name}}</button>
								</div>
							
							{% endfor %}
    					</div>
  				</div>


			</div>
		</div><!-- end row1 -->
		<div class="row">
			<div class="panel panel-danger">
 			 <!-- Default panel contents -->
 				<div class="panel-heading">国内目的地</div>
 				<div class="panel-body" style="padding-left:0; padding-right:0; padding-bottom:0; padding-top:10px;">
    					<div style="padding:0;">
    						{% for province in province_list%}
    						<div class="col-md-6" style="padding-left:5px;padding-right:5px;">
							
								<button type="button" class="btn btn-danger btn-block btn-xs" style="margin-bottom:10px;" onclick="javascript:window.location.href='{%url 'des_detail' "province" province.id %}' ">
									{{province.province_name}}</button>
							</div>
							{% endfor %}
    					</div>
  				</div>


				</div>
		</div><!-- end row2-->
	</div><!-- end col4-->
	<div class="col-md-9" align="center">
		<div class="row" style="margin-top:50px; margin-bottom:0;" >
			
			<div class="col-md-9 col-md-offset-1" >
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height:400px;">
  			<!-- Indicators -->
			  <ol class="carousel-indicators">

			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
 			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
  				<li data-target="#carousel-example-generic" data-slide-to="3"></li>
  				<li data-target="#carousel-example-generic" data-slide-to="4"></li>
 			  </ol>

			  <!-- Wrapper for slides -->
 			 <div class="carousel-inner" style="height:400px; cursor:pointer;">
 			 	{% for country in hottest_country_list %}
 			 	{% ifequal forloop.counter 1 %}
  			  <div class="item active" style="height:400px;" onclick="javascript:window.location.href='{%url 'des_detail' "country" country.id %}' ">
   			   <img  src="{{country.cover_url}}" alt="..." style="height:400px;">
   			  
   			   <div class="carousel-caption" style="margin-bottom:25px;">
   			   	<h1>{{country.country_name}}</h1>
   			   	</div>
   			   
   			  </div>
   			   	{% else %}
  			  <div class="item" style="height:400px;" onclick="javascript:window.location.href='{%url 'des_detail' "country" country.id %}' ">
   			   <img src="{{country.cover_url}}" alt="..." style="height:400px;">
   			   <div class="carousel-caption" style="margin-bottom:25px;">
   			   	   <h1> {{country.country_name}} </h1>
   			   	</div>
   			  </div>
   			   	{% endifequal %}




  			  {% endfor %}
  			</div>

  			<!-- Controls -->
 			 <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
 			   <span class="glyphicon glyphicon-chevron-left"></span>
			  </a>
  			<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
 			   <span class="glyphicon glyphicon-chevron-right"></span>
 			 </a>
			</div><!-- end carousel -->
		</div>
		</div><!-- end row -->


		<div class="row" style="margin-top:0px;">
			<div class="col-md-offset-1 col-md-9" style="margin-top:0;padding-top:0;">
			{% for province in hottest_province_list %}
			<div class="col-md-3" style="margin-bottom:10px;padding-left:4px;padding-right:4px;cursor:pointer;" onclick="javascript:window.location.href='{%url 'des_detail' "province" province.id %}' ">
				<div style="height:135px;background:url({{province.cover_url}}) no-repeat center;background-size:cover;">
					<div class="col-md-5" style="background:rgba(28, 28, 28, 0.9); color:#ffffff; margin-top:90px;">
						<h5>{{province.province_name}}
						</h5></div>
				</div>
			</div>
			{% endfor %}
			</div>
		</div>




	</div><!-- end col8-->


</div>














{% endblock %}


