<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}My Travo{% endblock %}</title><meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
    {% load staticfiles %}
    <!-- Bootstrap core CSS -->
    
    <link rel="stylesheet" type="text/css" href="{% static 'travo/css/bootstrap.min.css' %}" />

    <!-- Bootstrap core CSS -->
    <!-- <link href="../../dist/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="{% static 'travo/css/carousel.css' %}" rel="stylesheet">
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><b>Travo</b></a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href={%url 'index' %}>首页</a></li>
                <li><a href="#about">热门游记</a></li>
                <li><a href="#contact">目的地</a></li>
                <li><a href="#contact">客户端下载</a></li>
                
              </ul>
              <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#">注册</a></li>-->
                    <div class="btn-group" style="float:left; margin-top: 9%;">
                    {%block user_info%}
                    
                    {% if 'token' in request.session %}
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                      欢迎你：{{request.session.username}}<span class="caret"></span>
                      </button>
                       <ul class="dropdown-menu">
                       <li ><a href="#" >个人信息</a></li>
                       <li><a href="#">设置</a></li>
                       <li><a href={%url 'logout'%}>退出</a></li>

                     
                       <!--<li><a href="#">One more separated link</a></li> -->
                     </ul>

                    {% else %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">注册</button>
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                      登录<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                       <li ><a href="#myModal2" data-toggle="modal">使用邮箱登录</a></li>
                       <li class="divider"></li>
                       <li class="dropdown-header">使用第三方账号登录</li>
                       <li><a href="#">新浪微博登录</a></li>
                       <li><a href="#">腾讯QQ登录</a></li>
                       <!--<li><a href="#">One more separated link</a></li> -->
                     </ul>
                     {% endif %}
                     {%endblock user_info%}
                  </div>
                  <!--
                    <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">登录 <b class="caret"></b></a>
                     <ul class="dropdown-menu">
                       <li><a href="#">使用邮箱登录</a></li>
                       <li class="divider"></li>
                       <li class="dropdown-header">使用第三方账号登录</li>
                       <li><a href="#">新浪微博登录</a></li>
                       <li><a href="#">腾讯QQ登录</a></li>
                       <!--<li><a href="#">One more separated link</a></li> 
                     </ul>
                     </li>
                   -->
                </ul>  
            </div>
          </div>
        </div>

      </div>
    </div>



                <!--  注册模态框 -->
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <form action="/user/register" method="post" class="form-horizontal" role="form">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel" style="color: #104e8b;">创建账户-开启我的旅行记录</h4>
                     </div>
                     <div class="modal-body">
                      

                          <div class="form-group">
                            <label for="inputEmail" class="col-sm-2 control-label" style="color: #104e8b;">邮箱</label>
                            <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Email" name = "email">
                           </div>
                          </div>
                          <div class="form-group">
                            <label for="inputUsername" class="col-sm-2 control-label" style="color: #104e8b;">用户名</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputUsername" placeholder="UserName" name = "nickname">
                           </div>
                          </div> 
                          <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label" style="color: #104e8b;">密码</label>
                            <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password" name = "password">
                           </div>
                          </div>
                          <div class="form-group">
                            <label for="inputPswConfirm" class="col-sm-2 control-label" style="color: #104e8b;">确认密码</label>
                            <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPswConfirm" placeholder="Confirm">
                           </div>
                          </div>
                          <div class="form-group">
                            <label for="inputVerify" class="col-sm-2 control-label" style="color: #104e8b;">验证码</label>
                            <div class="col-sm-5">
                            <input type="text" class="form-control" id="inputVerify">
                            </div>
                            
                            <img data-src="holder.js/100x25">
                           
                          </div>
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <div class="checkbox">
                                <label style="color: #104e8b;">
                                <input type="checkbox"> 我同意Travo的服务条款
                                </label>
                              </div>
                          </div>
                        </div>
                        
                      

                    </div>
                   <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">注册</button>
                   </div>
                   </form>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->



<!-- 登录模态框 -->

              <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel" style="color: #104e8b;">登录账户－欢迎回来</h4>
                     </div>
                     <div class="modal-body">
                      
                        <form action="/user/login" method="POST" class="form-horizontal" role="form">
                          
                          <div class="form-group">
                            <label for="inputUsername" class="col-sm-2 control-label" style="color: #104e8b;">用户名</label>
                            <div class="col-sm-10">
                            <input type="text" name="email" class="form-control" id="inputUsername" placeholder="Email">
                           </div>
                          </div> 
                          <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label" style="color: #104e8b;">密码</label>
                            <div class="col-sm-10">
                            <input type="password"name="password" class="form-control" id="inputPassword" placeholder="Password">
                           </div>
                          </div>
                          <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">登录</button>
                   </div>
                        </form>
                      

                    </div>
                   
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->



        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <script src="../../static/travo/js/holder.js"></script>
    <script src="../../static/travo/js/docs.min.js"></script>
</body>
</html>