{% extends "website/base_index.html" %}
{% block title %}我的足迹{% endblock %}

{% block content %}

<div class="container" style="padding-top:20px;background-color:#ffffff;">
 <div class="row">
 <div class="col-md-8">
    <div class="row">
      <div class="col-md-4 col-md-offset-1">
        <table class="table" style="float:left;width:250px;margin-right:50px;">
          <tr>
            <td style="padding:0;">
           <img src="/medias/cover/{{travel.cover_path}}" alt="..." class="img-rounded" style="width:100%; height:250px; margin=0;">
                <!-- ATTENTION: 这里该放的是游记封皮！！！！！ -->
             </td>
          </tr>
          
          </table>
      </div>
      <div class="col-md-6 col-md-offset-1">
        <div class="col-md-8">
          <div>

            <h3>{{travel.title}}</h3><!-- h1这里放的应该是个游记title -->
            <p>{{travel.create_time | date:"Y-m-d"}}</p>
            <h4><small>{{travel.description}}</small></h4>
            <li type="button"  class="btn btn-info btn-lg" onclick="javascript:location.href='{%url 'new_note' travel.id%}'">＋添加新足迹</li>
          </div>
        </div>
        <div class="col-md-4">
          <!--<button  type="button" class="btn btn-small btn-info">编辑</button>-->
        </div>
       
      </div>
    </div>
  </div> 
  <div class="col-md-4">
    <div id="map_notes" style="height:300px; width:300px;">
    </div>
  </div>   

 </div><!-- row end -->

<!-- Here comes the divider -->
{%for note in note_list %}
<hr class="featurette-divider">

<!-- 开始显示啦 -->


<!-- note 1 -->



<div class="row" >

<div class="col-md-4" >
    
              
                <div class="alert " style= "background-color:#eeeeee;">
                <p>{{note.create_time | date:"Y-m-d"}}</p>
                
                <p >
                
                <span class="label label-success">{{note.location.address}}</button>
               
                </p>
               
                <h3 >{{note.content}}</h3>
                </div>
              
                   
  
            
    
</div>


<div class="col-md-8">
    <div class="col-md-10">
		<img src="/medias/{{note.image_path}}" class="travel_detail_img">
    </div>
    <div class="col-md-2">
    <!--<button  type="button" class="btn btn-small btn-info">编辑</button>-->
    </div>
	</div>

</div>
	<!-- note1 end -->
{% endfor %}

<!-- Here comes the divider -->

<hr class="featurette-divider">
<!-- divider ends -->




<!-- button row -->
<div style="margin-bottom:20px;" align="center">
	<div class="col-md-2"></div>
	<div class="col-md-4">
<button type="button" class=" btn btn-danger btn-lg btn-block" style="margin-bottom:20px;">喜	欢	<span class="badge">10</span></button>
</div>

<div class="col-md-4">
<button type="button" class=" btn btn-info btn-lg btn-block" style="margin-bottom:20px;"  data-toggle="modal" data-target="#myModal4">评	论	<span class="badge">22</span></button>
</div>

</div>



</div><!-- container end -->

<!--


<!-- 添加note模态框 --

              <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel" style="color: #104e8b;">添加足迹</h4>
                     </div>
                     <div class="modal-body">
                      
                        <form action="/user/login" method="POST" class="form-horizontal" role="form">

                        	<div class="form-group">
     							 <label for="cover_picker" class="col-sm-2 control-label" style="color: #104e8b;">上传照片</label>
      							<div class="col-sm-4">
      								<div id="cover_picker" class="fileinput fileinput-new" name="cover" data-provides="fileinput">

        								<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 192px; height: 150px; padding:0;"></div>
        							<div>
          							<span class="btn btn-default btn-file btn-success btn-sm"><span class="fileinput-new">选择照片上传</span>
          							<span class="fileinput-exists">重新选择照片</span><input type="file" name="cover"></span>

          							<a href="#" class="btn btn-default btn-danger fileinput-exists btn-sm" data-dismiss="fileinput">移除当前照片</a>
        							</div>
      								</div>
    							</div>
 							 </div>
                          
                        
<div class="form-group">
                <label for="datetimepicker" class="col-sm-2  control-label" style="color: #104e8b;">时间</label>
                <div class="col-sm-10">
                    <input type="text"  class="form-control" name="start_time" value="" id="datetimepicker" placeholder="yyyy-mm-dd">
                </div>
                     
            </div>


                          <div class="form-group">
                            <label for="inputUsername" class="col-sm-2 control-label" style="color: #104e8b;">地点</label>
                            <div class="col-sm-8">
              					<input id="geocomplete" type="text" placeholder="输入足迹地址"  />
            				</div>
            				<div class="col-sm-2">
              					<input id="find" type="button" value="find" />
            				</div>

                          </div> 
                          <div class="form-group">
   							 <label for="inputTravelName" class="col-sm-2 control-label" style="color: #104e8b;">游记描述</label>
   							 <div class="col-sm-9">
      							<textarea class="form-control" rows="3" name="travel_description" placeholder="请在这里添加游记描述"></textarea>
    						</div>
						  </div>
                          
                          <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">添加</button>
                   </div>
                        </form>
                      

                    </div>
                   
                  </div><!-- /.modal-content --
                </div><!-- /.modal-dialog --
              </div><!-- /.modal end --




-->


<!-- 添加／查看游记评论模态框 -->

              <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel" style="color: #104e8b;">评论</h4>
                     </div>
                     <div class="modal-body">
                      <!-- 一条评论 在这里开始-->
                      <table class="table table-hover" style=" margin-bottom:0;">
                        <tr class="active"><td ><img src="../../static/travo/image/me_avatar0.jpg" alt="..." class="img-rounded" style="height:50px; margin=0;width:50px;">
                        </td>
                        <td>
                          <div class="col-md-12" style="padding-bottom:0;"><p style="float:left;"><b>评论者用户名</b>:
                            <lable>把用户评论放这里吧！真是无奈阿啊阿啊阿啊。如果很长很长呢!如果很长很长呢如果很长很长呢如果很长很长呢如果很长很长呢如果很长很长呢如果很长很长呢！</lable></p>
                                                      </div>
                          <div style="float:left;padding-left:20px; padding-top:0;margin-top:0;">2014-3-20
                          </div><!-- here is the comment time -->
                        </td>
                        </tr>
                      </table><!-- 一条评论结束 -->

                      
                      <!-- 一条评论 在这里开始-->
                      <table class="table table-hover" style=" margin-bottom:0;">
                        <tr class="active"><td ><img src="../../static/travo/image/me_avatar0.jpg" alt="..." class="img-rounded" style="height:50px; margin=0;width:50px;">
                        </td>
                        <td>
                          <div class="col-md-12" style="padding-bottom:0;"><p style="float:left;"><b>评论者用户名</b>:
                            <lable>把用户评论放这里吧！真是无奈阿啊阿啊阿啊。</lable></p>
                                                      </div>
                          <div style="float:left;padding-left:20px; padding-top:0;margin-top:0;">2014-3-20
                          </div><!-- here is the comment time -->
                        </td>
                        </tr>
                      </table><!-- 一条评论结束 -->

                      <!-- 一条评论 在这里开始-->
                      <table class="table table-hover"style=" margin-bottom:0;">
                        <tr class="active"><td ><img src="../../static/travo/image/me_avatar0.jpg" alt="..." class="img-rounded" style="height:50px; margin=0;width:50px;">
                        </td>
                        <td>
                          <div class="col-md-12" style="padding-bottom:0;"><p style="float:left;"><b>评论者用户名</b>:
                            <lable>把用户评论放这里吧！真是无奈阿啊阿啊阿啊。如果很长很长呢!如果很长很长呢如果很长很长呢</lable></p>
                                                      </div>
                          <div style="float:left;padding-left:20px; padding-top:0;margin-top:0;">2014-3-20
                          </div><!-- here is the comment time -->
                        </td>
                        </tr>
                      </table><!-- 一条评论结束 -->
                      
                          <div class="modal-footer" >
                          	<div>
                        		<textarea class="form-control" rows="3" name="travel_description" placeholder="回车发表评论" style=" margin-bottom:0; padding-bottom:0;"></textarea>

    						            </div>
                    
                          </div>
                      

                    </div>
                   
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->

{% endblock %}
{% block myscript %}
<script>
  // Set the Map variable
        var map;
        function initialize() { 
            var myOptions = {
            zoom: 9,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var all = [
            ["Location 1", "Summerdale Rd", "Elon", "NC", "27253", "36.150491", "-79.5470544"], 
            ["Location 2", "7205 Olmstead Dr", "Burlington", "NC", "27215", "36.069974", "-79.548101"],
            ["Location 3", "W Market St", "Graham", "NC", "27253", "36.0722225", "-79.4016207"],
            ["Location 4", "Mt Hermon Rock Creek Rd", "Graham", "NC", "27253", "35.9826328", "-79.4165216"],
            ["Location 5", "415 Spring Garden St", "Greensboro", "NC", "27401", "36.06761", "-79.794984"]
        ];
        var tlat = 0.0;
        var tlng = 0.0;
        var number = 0;
        
        {%for note in note_list %}
        tlat = tlat + parseFloat({{note.location.latitude | floatformat:"6"}});
        tlng = tlng + parseFloat({{note.location.longitude | floatformat:"6"}});
        {%if note.location%}
        number = number + 1;
        {% endif %}
        {% endfor %}
        
        var infoWindow = new google.maps.InfoWindow;
        map = new google.maps.Map(document.getElementById('map_notes'), myOptions);
        // Set the center of the map
        var pos = new google.maps.LatLng(tlat/number, tlng/number);
        map.setCenter(pos);
        function infoCallback(infowindow, marker) { 
            return function() {
            infowindow.open(map, marker);
        };
   }      
   function setQKYMarkers(map, all) {
    {%for note in note_list %}

            //var name = {{note.location.address}};
            var latlngset;
            var lat = parseFloat({{note.location.latitude | floatformat:"6"}});
            var lng = parseFloat({{note.location.longitude | floatformat:"6"}});
            
            latlngset = new google.maps.LatLng(lat, lng);
            var marker = new google.maps.Marker({
              map: map, title: '{{note.location.address}}', position: latlngset
            });
            var content = '<div><h5>' + '{{note.location.address}}' + '</h5></div>';         
                    var infowindow = new google.maps.InfoWindow();
                      infowindow.setContent(content);
                      google.maps.event.addListener(
                        marker, 
                        'click', 
                        infoCallback(infowindow, marker)
                      );
            
    {% endfor %}
    // for (var i in all) {                    
    //         var name  = all[i][0];
    //         var address = all[i][1];
    //         var city  = all[i][2];
    //         var state   = all[i][3];
    //         var zip   = all[i][4];
    //         var lat   = all[i][5];
    //         var lng   = all[i][6];
    //         var latlngset;
    //         latlngset = new google.maps.LatLng(lat, lng);
    //         var marker = new google.maps.Marker({  
    //           map: map,  title: city,  position: latlngset  
    //         });
    //         alert(lat);
    //         // var content = '<div class="map-content"><h3>' + name + '</h3>' + address + '<br />' + city + ', ' + state + ' ' + zip + '<br /><a href="http://maps.google.com/?daddr=' + address + ' ' + city + ', ' + state + ' ' + zip + '" target="_blank">Get Directions</a></div>';         
    //         // var infowindow = new google.maps.InfoWindow();
    //         //   infowindow.setContent(content);
    //         //   google.maps.event.addListener(
    //         //     marker, 
    //         //     'click', 
    //         //     infoCallback(infowindow, marker)
    //         //   );
    //       }
        }     
        // Set all markers in the all variable
        setQKYMarkers(map, all);
      };
      // Initializes the Google Map
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}