{% extends "website/base_index.html" %}
{% block title %}我的游记新建足迹{% endblock %}
{% block content %}


<div class="container" style="padding-top:20px;background-color:#efefef;">
 <div class="row">
 <div style="margin-left:50px;">
        <table class="table" style="float:left;width:250px;margin-right:50px;">
          <tr>
            <td style="padding:0;">
           <img src="/medias/cover/{{travel.cover_path}}" alt="..." class="img-rounded" style="width:100%; height:250px; margin=0;">
                <!-- ATTENTION: 这里该放的是游记封皮！！！！！ -->
             </td>
          </tr>
          
          </table>
     </div> 
     


  <div style="float:left;margin-top:50px;">

        <h1>游记名称：{{travel.title}}</h1><!-- h1这里放的应该是个游记title -->
        <h1>游记编号：{{travel.id}}</h1>
        <h3>{{travel.create_time}}</h3>
        <h4>{{travel.description}}</h4>
        <li type="button"  class="btn btn-success btn-lg" ><a href="{%url 'new_note' travel.id%}">＋添加新足迹</a></li>
  </div>







 

 </div><!-- row end -->

<!-- Here comes the divider -->

<hr class="featurette-divider">

<!-- 开始显示啦 -->


<!-- note 1 -->
<div class="row" style="margin-bottom:20px;">

<div class="col-md-3" style="margin-right:55px;margin-left:55px;">
<table class="table" style="width:300px;">
              <tr style="width:300px; padding:0; margin:0;" align="left">
                <div style="float:left;">
                <h4 class="pull-left">2013-03-18</h4>
                
              </div>
              

              <div class="btn-group " style="float:right; margin－top:0;" >
                    <button type="button" class="btn btn-link" >地点</button>
            
                </div>

              <div style="clear:both;">
                <h5 >我才是足迹描述哈哈哈哈啊好是大脑神经是救死扶伤份发生份是否善发生发生发生是否 再多也不怕是肯德基啊觉得很开放 i 复活IE去凤凰IE ui u 和期望刘德华气度和 i 读环球好</h5>
              </div>
               
                   
  
            
             </table>
         </div>

<div>
		<img src="../../static/travo/image/welcome_bg3.jpg" style="width:60%; height:350px; margin=0;">
	</div>

</div>
	<!-- note1 end -->


<!--  note2 starts here -->
<div class="row" style="margin-bottom:20px;">


<div class="col-md-3" style="margin-right:55px;margin-left:55px;">
<table class="table" style="width:300px;">
              <tr style="width:300px; padding:0; margin:0;" align="left">
                <div style="float:left;">
                <h4 class="pull-left">2013-03-18</h4>
                
              </div>
              

              <div class="btn-group " style="float:right; margin－top:0;" >
                    <button type="button" class="btn btn-link" >地点</button>
            
                </div>

              <div style="clear:both;">
                <h5 >我才是足迹描述哈哈哈哈啊好是大脑神经是救死扶伤份发生份是否善发生发生发生是否 再多也不怕是肯德基啊觉得很开放 i 复活IE去凤凰IE ui u 和期望刘德华气度和 i 读环球好</h5>
              </div>
               
                   
  
            
             </table>
         </div>
<div >
		<img src="../../static/travo/image/welcome_bg7.jpg" style="width:60%; height:350px; margin=0;">
	</div>

</div>
<!-- note2 ends here-->

<!-- note3 stars here -->

<div class="row" style="margin-bottom:20px;">


<div class="col-md-3" style="margin-right:55px;margin-left:55px;">
<table class="table" style="width:300px;">
              <tr style="width:300px; padding:0; margin:0;" align="left">
                <div style="float:left;">
                <h4 class="pull-left">2013-03-18</h4>
                
              </div>
              

              <div class="btn-group " style="float:right; margin－top:0;" >
                    <button type="button" class="btn btn-link" >地点</button>
            
                </div>

              <div style="clear:both;">
                <h5 >我才是足迹描述哈哈哈哈啊好是大脑神经是救死扶伤份发生份是否善发生发生发生是否 再多也不怕是肯德基啊觉得很开放 i 复活IE去凤凰IE ui u 和期望刘德华气度和 i 读环球好</h5>
              </div>
               
                   
  
            
             </table>
         </div>
<div >
		<img src="../../static/travo/image/welcome_bg2.jpg" style="width:60%; height:350px; margin=0;">
	</div>

</div>

<!--note3 ends here -->

<!-- Here comes the divider -->

<hr class="featurette-divider">
<!-- divider ends -->



<!-- button row -->
<div style="margin-bottom:20px;" align="center">
	<div class="col-md-2"></div>
	<div class="col-md-4">
<button type="button" class=" btn btn-danger btn-lg btn-block" style="margin-bottom:20px;">喜	欢	<span class="badge">10</span></button>
</div>

<div class="col-md-4">
<button type="button" class=" btn btn-info btn-lg btn-block" style="margin-bottom:20px;"  data-toggle="modal" data-target="#myModal4">评	论	<span class="badge">22</span></button>
</div>

</div>

















</div><!-- container end -->

<!--


<!-- 添加note模态框 --

              <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel" style="color: #104e8b;">添加足迹</h4>
                     </div>
                     <div class="modal-body">
                      
                        <form action="/user/login" method="POST" class="form-horizontal" role="form">

                        	<div class="form-group">
     							 <label for="cover_picker" class="col-sm-2 control-label" style="color: #104e8b;">上传照片</label>
      							<div class="col-sm-4">
      								<div id="cover_picker" class="fileinput fileinput-new" name="cover" data-provides="fileinput">

        								<div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 192px; height: 150px; padding:0;"></div>
        							<div>
          							<span class="btn btn-default btn-file btn-success btn-sm"><span class="fileinput-new">选择照片上传</span>
          							<span class="fileinput-exists">重新选择照片</span><input type="file" name="cover"></span>

          							<a href="#" class="btn btn-default btn-danger fileinput-exists btn-sm" data-dismiss="fileinput">移除当前照片</a>
        							</div>
      								</div>
    							</div>
 							 </div>
                          
                        
<div class="form-group">
                <label for="datetimepicker" class="col-sm-2  control-label" style="color: #104e8b;">时间</label>
                <div class="col-sm-10">
                    <input type="text"  class="form-control" name="start_time" value="" id="datetimepicker" placeholder="yyyy-mm-dd">
                </div>
                     
            </div>


                          <div class="form-group">
                            <label for="inputUsername" class="col-sm-2 control-label" style="color: #104e8b;">地点</label>
                            <div class="col-sm-8">
              					<input id="geocomplete" type="text" placeholder="输入足迹地址"  />
            				</div>
            				<div class="col-sm-2">
              					<input id="find" type="button" value="find" />
            				</div>

                          </div> 
                          <div class="form-group">
   							 <label for="inputTravelName" class="col-sm-2 control-label" style="color: #104e8b;">游记描述</label>
   							 <div class="col-sm-9">
      							<textarea class="form-control" rows="3" name="travel_description" placeholder="请在这里添加游记描述"></textarea>
    						</div>
						  </div>
                          
                          <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">添加</button>
                   </div>
                        </form>
                      

                    </div>
                   
                  </div><!-- /.modal-content --
                </div><!-- /.modal-dialog --
              </div><!-- /.modal end --




-->


<!-- 添加／查看游记评论模态框 -->

              <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel" style="color: #104e8b;">评论</h4>
                     </div>
                     <div class="modal-body">
                      <!-- 一条评论 在这里开始-->
                      <table class="table table-hover" style=" margin-bottom:0;">
                        <tr class="active"><td ><img src="../../static/travo/image/me_avatar0.jpg" alt="..." class="img-rounded" style="height:50px; margin=0;width:50px;">
                        </td>
                        <td>
                          <div class="col-md-12" style="padding-bottom:0;"><p style="float:left;"><b>评论者用户名</b>:
                            <lable>把用户评论放这里吧！真是无奈阿啊阿啊阿啊。如果很长很长呢!如果很长很长呢如果很长很长呢如果很长很长呢如果很长很长呢如果很长很长呢如果很长很长呢！</lable></p>
                                                      </div>
                          <div style="float:left;padding-left:20px; padding-top:0;margin-top:0;">2014-3-20
                          </div><!-- here is the comment time -->
                        </td>
                        </tr>
                      </table><!-- 一条评论结束 -->

                      
                      <!-- 一条评论 在这里开始-->
                      <table class="table table-hover" style=" margin-bottom:0;">
                        <tr class="active"><td ><img src="../../static/travo/image/me_avatar0.jpg" alt="..." class="img-rounded" style="height:50px; margin=0;width:50px;">
                        </td>
                        <td>
                          <div class="col-md-12" style="padding-bottom:0;"><p style="float:left;"><b>评论者用户名</b>:
                            <lable>把用户评论放这里吧！真是无奈阿啊阿啊阿啊。</lable></p>
                                                      </div>
                          <div style="float:left;padding-left:20px; padding-top:0;margin-top:0;">2014-3-20
                          </div><!-- here is the comment time -->
                        </td>
                        </tr>
                      </table><!-- 一条评论结束 -->

                      <!-- 一条评论 在这里开始-->
                      <table class="table table-hover"style=" margin-bottom:0;">
                        <tr class="active"><td ><img src="../../static/travo/image/me_avatar0.jpg" alt="..." class="img-rounded" style="height:50px; margin=0;width:50px;">
                        </td>
                        <td>
                          <div class="col-md-12" style="padding-bottom:0;"><p style="float:left;"><b>评论者用户名</b>:
                            <lable>把用户评论放这里吧！真是无奈阿啊阿啊阿啊。如果很长很长呢!如果很长很长呢如果很长很长呢</lable></p>
                                                      </div>
                          <div style="float:left;padding-left:20px; padding-top:0;margin-top:0;">2014-3-20
                          </div><!-- here is the comment time -->
                        </td>
                        </tr>
                      </table><!-- 一条评论结束 -->
                      
                          <div class="modal-footer" >
                          	<div>
                        		<textarea class="form-control" rows="3" name="travel_description" placeholder="回车发表评论" style=" margin-bottom:0; padding-bottom:0;"></textarea>

    						            </div>
                    
                          </div>
                      

                    </div>
                   
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->





{% endblock %}