{% extends "website/base_index.html" %}
{% block title %}我的足迹{% endblock %}

{% block content %}

<div class="container" >
 <div class="row alert alert-info">
 <div class="col-md-8" >
    <div class="row" >
      <div class="col-md-4 ">
        
          
           <img src="http://travo-travel-cover.oss-cn-hangzhou.aliyuncs.com/{{travel.cover_path}}" 
           alt="..." class="img" style="width:300px; height:300px; margin=0;">
                <!-- ATTENTION: 这里该放的是游记封面！！！！！ -->
          
        
      </div>
      <div class="col-md-6 col-md-offset-1" >
        <div class="col-md-8" >
          <div >
            {%ifequal travel.user.token request.session.token%}
            <h3 style="color:#1874cd;">{{travel.title}}</h3><!-- h1这里放的应该是个游记title -->
            <p>{{travel.create_time | date:"Y-m-d"}}</p>
            <h4><small>{{travel.description}}</small></h4>
            <li type="button"  class="btn btn-info btn-lg" onclick="javascript:location.href='{%url 'new_note' travel.id%}'">＋添加新足迹</li>
            {% else %}
            <img src="http://travo-user-avatar.oss-cn-hangzhou.aliyuncs.com/{{travel.user.face_path}}"  class="img-rounded" style="width:50px; height:50px; ">
            <a href="{%url 'others' travel.user.id %}">{{travel.user.nickname}}</a>
            <h3 style="color:#1874cd;">{{travel.title}}</h3><!-- h1这里放的应该是个游记title -->
            <p>{{travel.create_time | date:"Y-m-d"}}</p>
            <h4><small>{{travel.description}}</small></h4>
            {% endifequal %}
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-md-4 "  align="right">
    <div id="map_notes" style="height:300px; width:300px;">
    </div>
  </div>   

 </div><!-- row end -->

<!-- Here comes the divider -->
{%for note in note_list %}


<!-- 开始显示啦 -->


<!-- note 1 -->



<div class="row" style="padding-bottom:20px;padding-top:20px;">

<div class="col-md-4" >
    
              
                <div class="alert " style= "background-color:#eeeeee;">
                <p>{{note.create_time | date:"Y-m-d"}}</p>
                
                <p >
                
                <span class="label label-success">{{note.location.address}}</span>
               
                </p>
               
                <h3 >{{note.content}}</h3>
                </div>
              
                   
  
            
    
</div>


<div class="col-md-8">
    <div class="col-md-12">
		<img src="http://travo-note-pic.oss-cn-hangzhou.aliyuncs.com/{{note.image_path}}" class="travel_detail_img">
    </div>
    
	</div>

</div>
	<!-- note1 end -->
{% endfor %}

<!-- Here comes the divider -->

<hr class="featurette-divider">
<!-- divider ends -->




<!-- button row -->
<div style="margin-bottom:20px;" align="center">
	<div class="col-md-2"></div>
	<div class="col-md-4">
<button id="btnfavorite" type="button" class=" btn btn-danger btn-lg btn-block" style="margin-bottom:20px;">喜	欢	<span id="badgefavorite" class="badge">{{travel.favorite_qty}}</span></button>
</div>

<div class="col-md-4">
<button type="button" class=" btn btn-info btn-lg btn-block" style="margin-bottom:20px;"  data-toggle="modal" data-target="#myModal4">评	 论	<span id="badgecomment" class="badge">{{travel.comment_qty}}</span></button>
</div>

</div>



</div><!-- container end -->




<!-- 添加／查看游记评论模态框 -->

              <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel" style="color: #104e8b;">评论</h4>
                     </div>
                     
                     <div class="modal-body" >
                      <div id="self_comment" style="max-height:300px; overflow:auto;">
                      {% for comment in comment_list%}
                      <!-- 一条评论 在这里开始-->
                      <table class="table table-hover" style=" margin-bottom:0;">
                        <tr class="active"><td style="width:60px;">
                          <img src="http://travo-user-avatar.oss-cn-hangzhou.aliyuncs.com/{{comment.commenter.face_path}}" class="img-rounded" style="height:50px; margin=0;width:50px;">
                        </td>
                        <td>
                          <div class="col-md-12" style="padding-bottom:0;">
                            <p><b>{{comment.commenter.nickname}}</b>:
                            <lable>{{comment.content}}</lable>
                          </p>
                          </div>
                          <div class="col-md-12 pull-right">{{comment.time | date:"Y-m-d"}}
                          </div><!-- here is the comment time -->
                        </td>
                        </tr>
                      </table><!-- 一条评论结束 -->
                      {% endfor %}
                    </div>

                     
                      <!-- 一条评论 在这里开始-->
                      
                      
                          <div class="modal-footer" >
                          	<div>
                        		<textarea class="form-control" rows="4" id="comment_content" placeholder="发表评论" style=" margin-bottom:0; padding-bottom:0;"></textarea>

    						            </div>
                            <div class="pull-right" style="margin:10px;"><button type="button" id="btncomment" class="btn btn-primary">评论</button></div>
                          </div>
                      

                    </div>
                   
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
<div class="modal fade" id="CommentFailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel" style="color: #104e8b;">评论</h4>
                     </div>
                     <div class="modal-body">
                      
                        <h6 class="modal-title" id="myModalLabel" style="color: #104e8b;">添加评论失败</h6>
                          
                          
                          </div>
                          <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">确认</button>
                    
                   </div>
                        </form>
                      

                    </div>
                   
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
{% endblock %}
{% block myscript %}
<script>
  // Set the Map variable
        var map;
        function initialize() { 
            var myOptions = {
            zoom: 9,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var all = [
            ["Location 1", "Summerdale Rd", "Elon", "NC", "27253", "36.150491", "-79.5470544"], 
            ["Location 2", "7205 Olmstead Dr", "Burlington", "NC", "27215", "36.069974", "-79.548101"],
            ["Location 3", "W Market St", "Graham", "NC", "27253", "36.0722225", "-79.4016207"],
            ["Location 4", "Mt Hermon Rock Creek Rd", "Graham", "NC", "27253", "35.9826328", "-79.4165216"],
            ["Location 5", "415 Spring Garden St", "Greensboro", "NC", "27401", "36.06761", "-79.794984"]
        ];
        var tlat = 0.0;
        var tlng = 0.0;
        var number = 0;
        
        {%for note in note_list %}
        tlat = tlat + parseFloat({{note.location.latitude | floatformat:"6"}});
        tlng = tlng + parseFloat({{note.location.longitude | floatformat:"6"}});
        {%if note.location%}
        number = number + 1;
        {% endif %}
        {% endfor %}
        
        var infoWindow = new google.maps.InfoWindow;
        map = new google.maps.Map(document.getElementById('map_notes'), myOptions);
        // Set the center of the map
        var pos = new google.maps.LatLng(tlat/number, tlng/number);
        map.setCenter(pos);
        function infoCallback(infowindow, marker) { 
            return function() {
            infowindow.open(map, marker);
        };
   }      
   function setQKYMarkers(map, all) {
    {%for note in note_list %}

            //var name = {{note.location.address}};
            var latlngset;
            var lat = parseFloat({{note.location.latitude | floatformat:"6"}});
            var lng = parseFloat({{note.location.longitude | floatformat:"6"}});
            
            latlngset = new google.maps.LatLng(lat, lng);
            var marker = new google.maps.Marker({
              map: map, title: '{{note.location.address}}', position: latlngset
            });
            var content = '<div><h5>' + '{{note.location.address}}' + '</h5></div>';         
                    var infowindow = new google.maps.InfoWindow();
                      infowindow.setContent(content);
                      google.maps.event.addListener(
                        marker, 
                        'click', 
                        infoCallback(infowindow, marker)
                      );
            
    {% endfor %}
    // for (var i in all) {                    
    //         var name  = all[i][0];
    //         var address = all[i][1];
    //         var city  = all[i][2];
    //         var state   = all[i][3];
    //         var zip   = all[i][4];
    //         var lat   = all[i][5];
    //         var lng   = all[i][6];
    //         var latlngset;
    //         latlngset = new google.maps.LatLng(lat, lng);
    //         var marker = new google.maps.Marker({  
    //           map: map,  title: city,  position: latlngset  
    //         });
    //         alert(lat);
    //         // var content = '<div class="map-content"><h3>' + name + '</h3>' + address + '<br />' + city + ', ' + state + ' ' + zip + '<br /><a href="http://maps.google.com/?daddr=' + address + ' ' + city + ', ' + state + ' ' + zip + '" target="_blank">Get Directions</a></div>';         
    //         // var infowindow = new google.maps.InfoWindow();
    //         //   infowindow.setContent(content);
    //         //   google.maps.event.addListener(
    //         //     marker, 
    //         //     'click', 
    //         //     infoCallback(infowindow, marker)
    //         //   );
    //       }
        }     
        // Set all markers in the all variable
        setQKYMarkers(map, all);
      };
      // Initializes the Google Map
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
<script>
  $(document).ready(function(){
  $('#btncomment').click(function(){
    var content = $("#comment_content").val();
    var travel_id = {{travel.id}};
    $.post("/user/comment_travel",{'travel_id':travel_id,'content':content}, function(ret){
      if(ret == '1'){
        $('#self_comment').append("<table class= 'table table-hover' style='margin-bottom:0;'><tr class='active'><td><div class='col-md-12' style= 'padding-bottom:0;'><p><b>我</b>:<lable>" + content + "</lable></p></div><div class='col-md-12 pull-right'>{{comment.time | date:"Y-m-d"}}</div></td></tr></table>");
        $("#comment_content").val("");
        var cnumber= parseInt($('#badgecomment').text());
        cnumber = cnumber + 1;
        $('#badgecomment').text(cnumber);
      }

      else
        $('#CommentFailModal').modal('show');
    });
  });

  $('#btnfavorite').click(function(){
    var travel_id = {{travel.id}};
    $.post("/user/favorite_travel",{'travel_id':travel_id},function(ret){
      if(ret == '1'){
        var fnumber= parseInt($('#badgefavorite').text());
        fnumber = fnumber + 1;
        $('#badgefavorite').text(fnumber);
      }
      else
        $('#CommentFailModal').modal('show');
    })
  });
});
</script>
{% endblock %}