
{% extends "website/base_index.html" %}
{% block title %}我的粉丝{% endblock %}

{% block content %}

<div class="container" style="background-color:#ffffff;">
  <!-- 个人信息条 -->
 <div class="row" style="background-color:#f5f5f5;margin-bottom:0;">
 <!-- 头像信息框 -->
 <div style="margin-left:20px;margin-top:20px;">
        <table class="table" style="float:left;width:250px;margin-right:50px;">
          <tr>
            <td style="padding:0;">
            <img src="../../static/travo/image/me_avatar0.jpg" alt="Responsive image" class="img-rounded img-responsive" style="width:100%; height:250px; margin:0;padding:0;border-radius:0;">
             </td>
          </tr>
          <tr style="padding:0;">     
          <td align="center" style="padding:0; margin:0;">      
      
        <div style="width:250px;margin:0;padding:0;">
        <div class="btn-group btn-group-justified" style="padding-top:0;padding-bottom:0;">
          
          <a type="button" class="btn btn-primary"  style="border-radius:0;"><p style="font-size:22px;padding-bottom:0;margin-bottom:0;padding-top:0;margin-top:0;">10</p><p style="font-size:8px;padding-bottom:0;margin-bottom:0;padding-top:0;margin-top:0;">游记</p></a>
          
          <a type="button" class="btn btn-primary" style="border-radius:0;"><p style="font-size:22px;padding-bottom:0;margin-bottom:0;padding-top:0;margin-top:0;">5</p><p style="font-size:8px;padding-bottom:0;margin-bottom:0;padding-top:0;margin-top:0;">想去</p></a>
          <a type="button" class="btn btn-primary"  style="border-radius:0;"><p style="font-size:22px;padding-bottom:0;margin-bottom:0;padding-top:0;margin-top:0;">24</p><p style="font-size:8px;padding-bottom:0;margin-bottom:0;padding-top:0;margin-top:0;">喜欢</p></a>
          
        </div>
        </div>
  



        </td>
            </tr>
          </table>
      
     </div><!-- 头像 end -->


  <div style="float:left;margin-top:70px;">
        <h1>{{request.session.username}}</h1>
        <h3>男</h3>
        <h4>我的个性签名是不是菜鸡</h4>
  </div>


  <div style="float:right; margin-right:20px;">
      <h6>我的足迹</h6>
            <img alt="140x140" src="http://lorempixel.com/140/140/" class="img-rounded"style="width:250px;" />
  </div>
 

 </div><!-- row end -->


<!-- Here comes the divider -->


<hr class="featurette-divider " style="margin-top:0;">
<div style="padding-bottom:20px;">
  <!-- 游记条题目 -->


<div class="col-md-12" style=" padding-left:5px;margin-bottom:20px;">
<div class="col-md-2" style="padding:0;">
<button type="button" onclick="javascript:window.location.href='{%url 'show_my_travel'%}' " class="btn btn-info btn-lg btn-block" style="border-radius:2px;">我的粉丝   <span class="badge"> 10</span></button>  
 
</div>
</div>
<!-- 我关注的人 从这里开始-->
<div class="row clearfix col-md-12 " align="center">


                      <table class="table table-hover table-striped" style=" margin-bottom:20px;margin-left:15px;margin">
                        <!-- 一个tr显示一个用户 -->
                        {% for user in followed_list%}
                        <tr class="active"><td ><img src="../../static/travo/image/me_avatar0.jpg" alt="..." class="img-rounded" style="height:50px; margin=0;width:50px;border-radius:2px;">
                        </td>
                        <td>
                          <div class="col-md-12" style="padding-bottom:0;"><p ><b>{{user.nickname}}</b>
                            </p>
                         </div>
                         <div class="col-md-12">
                          <lable>{{user.signature}}</lable>
                          </div>
                        </td>
                        </tr>
                        {% endfor %}
                     
                    
         
                      </table>

</div><!-- 我的粉丝 end-->
</div>



</div><!-- end of container -->

    {% endblock %}
