
{% extends "website/base_index.html" %}
{% block title %}Travo我的主页{% endblock %}

{% block content %}





<div class="container" style="padding-top:20px;">
 <div class="row">
 
        <table class="table" style="float:left;width:250px;margin-right:50px;">
          <tr>
            <td style="padding:0;">
            <img src="../../static/travo/image/me_avatar0.jpg" alt="..." class="img-rounded" style="width:100%; height:250px; margin=0;">
             </td>
          </tr>
          <tr style="padding:0;">     
          <td align="center" style="padding:0; margin:0;">      
        <table class="table table-bordered" style="width:250px;margin:0;padding:0;">
          <tr style="width:250px; padding:0; margin:0;" align="center">
          <td style="margin:0;"><button class="button btn-link btn-default"><b>游记</b></button></td>
          <td style="margin:0;"><button class="button btn-link btn-default"><b>想去</b></button></td>
          <td style="margin:0;"><button class="button btn-link btn-default"><b>喜欢</b></button></td>
        </tr>
        </table>
        </td>
            </tr>
          </table>
      
     


  <div style="float:left;margin-top:70px;">
    <h1>冰鱼儿</h1>
    <h3>女</h3>
        <h4>我的个性签名是不是菜鸡</h4>
        <button type="button" class="btn btn-success btn-lg" >＋创建新游记</button>
  </div>


  <div style="float:right;">
      <h6>我的足迹</h6>
            <img alt="140x140" src="http://lorempixel.com/140/140/" class="img-rounded"style="width:250px;" />
  </div>
 

 </div>


<!-- Here comes the divider -->

<hr class="featurette-divider">
<div style="padding-bottom:20px;">
  <!-- 游记条题目 -->
<button type="button" class="btn btn-primary btn-lg">我的游记 <span class="badge">3</span></button>  

</div>
<!-- 我的游记 条 从这里开始-->
<div class="row clearfix" align="center">
 


<!-- 这里是第一篇游记，span1 -->
  
  <div  class="col-md-4 column" >

<div class="panel panel-default" style="width:350px;">
  <div class="panel-body">
     <img src="http://lorempixel.com/300/300/" alt="..." class="img-rounded" style="width:100%; height:250px; margin=0;">
    
  </div>
  <div class="panel-footer" align="left">
    <table class="table" style="width:300px;margin:0;padding:0;">
              <tr style="width:300px; padding:0; margin:0;" align="left">
                <div style="float:left;">
                <h5 class="pull-left">游记名称在这里</h5>
                
              </div>
              

              <div class="btn-group " style="float:right; margin－top:0;" >
                    <button type="button" class="btn btn-link btn-sm" >标签1</button>
                    <button type="button" class="btn btn-link btn-sm" >标签2</button>
                </div>

              <div style="clear:both;">
                <h6 >我才是游记描述哈哈哈哈啊好是大脑神经是救死扶伤份发生份是否善发生发生发生是否  </h6>
              </div>
               
                   
              </tr>
              
              <div style="clear:both; float:left;"><h6>2014-03-13</h6>
              </div>
              <div style="float:right; padding-right:10px;"><h6><span class="glyphicon glyphicon-heart"></span> 2<span class="glyphicon glyphicon-list-alt"></span> 3</h6>
              </div>

              </tr>
            
             </table>
</div>
</div>
</div><!--  这是三分之一的span (1)end-->


<!-- 这里是第二篇游记，span2 -->

<div  class="col-md-4 column"  >

<div class="panel panel-default" style="width:350px;">
  <div class="panel-body">
     <img src="http://lorempixel.com/300/300/" alt="..." class="img-rounded" style="width:100%; height:250px; margin=0;">
    
  </div>
  <div class="panel-footer" style="clear:both;" align="left">
    <table class="table" style="width:300px;margin:0;padding:0;">
              <tr style="width:300px; padding:0; margin:0;" align="left">
                <div style="float:left;">
                <h5 class="pull-left">游记名称在这里</h5>
                
              </div>
              

              <div class="btn-group " style="float:right; margin－top:0;" >
                    <button type="button" class="btn btn-link btn-sm" >标签1</button>
                    <button type="button" class="btn btn-link btn-sm" >标签2</button>
                </div>

              <div style="clear:both;">
                <h6 >我才是游记描述哈哈哈哈啊好是大脑神经是救死扶伤份发生份是否善发生发生发生是否  </h6>
              </div>
               
                   
              </tr>
              
              <div style="clear:both; float:left;"><h6>2014-03-13</h6>
              </div>
              <div style="float:right; padding-right:10px;"><h6><span class="glyphicon glyphicon-heart"></span> 2    <span class="glyphicon glyphicon-list-alt"></span> 3</h6>
              </div>

              </tr>
            
             </table>
</div>
</div>
</div><!--  这是三分之一的span （2）end-->


<!-- 这里是第三篇游记，span3 -->

<div  class="col-md-4 column" >

<div class="panel panel-default" style="width:350px;">
  <div class="panel-body">
     <img src="http://lorempixel.com/300/300/" alt="..." class="img-rounded" style="width:100%; height:250px; margin=0;">
    
  </div>
  <div class="panel-footer" style="clear:both;" align="left">
    <table class="table" style="width:300px;margin:0;padding:0;">
              <tr style="width:300px; padding:0; margin:0;" align="left">
                <div style="float:left;">
                <h5 class="pull-left">游记名称在这里</h5>
                
              </div>
              

              <div class="btn-group " style="float:right; margin－top:0;" >
                    <button type="button" class="btn btn-link btn-sm" >标签1</button>
                    <button type="button" class="btn btn-link btn-sm" >标签2</button>
                </div>

              <div style="clear:both;">
                <h6 >我才是游记描述哈哈哈哈啊好是大脑神经是救死扶伤份发生份是否善发生发生发生是否  </h6>
              </div>
               
                   
              </tr>
              
              <div style="clear:both; float:left;"><h6>2014-03-13</h6>
              </div>
              <div style="float:right; padding-right:10px;"><h6><span class="glyphicon glyphicon-heart"></span> 2    <span class="glyphicon glyphicon-list-alt"></span> 3</h6>
              </div>

              </tr>
            
             </table>
</div>
</div>
</div><!--  这是三分之一的span（3）end -->








</div><!-- 游记条end-->


<hr class="featurette-divider">
<div>
<button type="button" class="btn btn-primary btn-lg">想去的地方<span class="badge">1</span> </button>
</div>

</div><!-- end of container -->













    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->





    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% endblock %}
