
{% extends "website/base_index.html" %}
{% block title %}Travo我的主页{% endblock %}

{% block content %}

<div class="container" style="background-color:#ffffff;">
  <!-- 个人信息条 -->
 <div class="row" style="background-color:#f5f5f5;margin-bottom:0;">
 <!-- 头像信息框 -->
 <div style="margin-left:20px;margin-top:20px;">
        <table class="table" style="float:left;width:250px;margin-right:50px;">
          <tr>
            <td style="padding:0;">
            <img src="../../static/travo/image/me_avatar0.jpg" alt="Responsive image" class="img-rounded img-responsive" style="width:100%; height:250px; margin:0;padding:0;border-radius:0;">
             </td>
          </tr>
          <tr style="padding:0;">     
          <td align="center" style="padding:0; margin:0;">      
      
        <div style="width:250px;margin:0;padding:0;">
        <div class="btn-group btn-group-justified" style="padding-top:0;padding-bottom:0;">
          
          <a type="button" class="btn btn-primary"  style="border-radius:0;"><p style="font-size:22px;padding-bottom:0;margin-bottom:0;padding-top:0;margin-top:0;">{{travel_list_length}}</p><p style="font-size:8px;padding-bottom:0;margin-bottom:0;padding-top:0;margin-top:0;">游记</p></a>
          
          <a type="button" class="btn btn-primary" style="border-radius:0;"><p style="font-size:22px;padding-bottom:0;margin-bottom:0;padding-top:0;margin-top:0;">5</p><p style="font-size:8px;padding-bottom:0;margin-bottom:0;padding-top:0;margin-top:0;">想去</p></a>
          <a type="button" class="btn btn-primary"  style="border-radius:0;"><p style="font-size:22px;padding-bottom:0;margin-bottom:0;padding-top:0;margin-top:0;">24</p><p style="font-size:8px;padding-bottom:0;margin-bottom:0;padding-top:0;margin-top:0;">喜欢</p></a>
          
        </div>
        </div>
  



        </td>
            </tr>
          </table>
      
     </div><!-- 头像 end -->


  <div style="float:left;margin-top:70px;">
  {%if user %}
        <h1>{{request.session.username}}</h1>
        <h3>{{userinfo.sex | default:"男"}}</h3>
          <h3>{{user.email}}</h3>
        <img src="ftp://172.16.12.125/image/cover/05cbf391ccd34f70"></div>
        <h4>{{user.signature | default:"个性签名:暂无"}}</h4>
        <li type="button"  class="btn btn-primary btn-lg" onclick="javascript:location.href='{%url 'new_travel'%}'" value="创建新游记">＋创建新游记</li>
  {% endif %}
  </div>


  <div style="float:right; margin-right:20px;">
      <h6>我的足迹</h6>
            <img alt="140x140" src="http://lorempixel.com/140/140/" class="img-rounded"style="width:250px;" />
  </div>
 

 </div><!-- row end -->


<!-- Here comes the divider -->


<hr class="featurette-divider " style="margin-top:0;">
<div style="padding-bottom:20px;">
  <!-- 游记条题目 -->


<div class="col-md-12" style=" padding-left:5px;margin-bottom:20px;">
<div class="col-md-2" style="padding:0;">
<button type="button" onclick="javascript:window.location.href='{%url 'show_my_travel'%}' " class="btn btn-info btn-lg btn-block" style="border-radius:2px;">我的游记   <span class="badge"> 3</span></button>  
 
</div>
</div>
<!-- 我的游记 条 从这里开始-->
<div class="row clearfix" align="center">

<!-- 这里是第一篇游记，span1 -->
{%for travel in recent_travel_list %}
  <div  class="col-md-4 column" >

<div class="panel panel-default" style="width:350px;">
  <div class="panel-body">
     <img src="ftp://172.16.12.125/image/cover/{{travel.cover_path}}" alt="..." class="img-rounded" style="width:100%; height:250px; margin=0;">
    
  </div>
  <div class="panel-footer" align="left">
    <table class="table" style="width:300px;margin:0;padding:0;">
              <tr style="width:300px; padding:0; margin:0;" align="left">
                <div style="float:left;">

                <h5 class="pull-left"><a href="{%url 'detail_travel' travel.id %}">{{travel.title}}</a></h5>
                
              </div>
              

              <div class="btn-group " style="float:right; margin－top:0;" >
                    <button type="button" class="btn btn-link btn-sm" >标签1</button>
                    <button type="button" class="btn btn-link btn-sm" >标签2</button>
                </div>

              <div style="clear:both;">
                <h6 > {{travel.description}} </h6>
              </div>
               
                   
              </tr>
              
              <div style="clear:both; float:left;"><h6>2014-03-13</h6>
              </div>
              <div style="float:right; padding-right:10px;"><h6>
                <span class="glyphicon glyphicon-heart"></span> {{ travel.vote_qty}}
                <span class="glyphicon glyphicon-list-alt"></span>{{ travel.favorite_qty}}</h6>
              </div>

              </tr>
            
             </table>
</div>
</div>
</div><!--  这是三分之一的span (1)end-->
{% endfor %}

</div><!-- 游记条end-->


<hr class="featurette-divider">
<div class="col-md-12" style=" padding-left:5px;margin-bottom:20px;">
<div class="col-md-2" style="padding:0;">
<button type="button" class="btn btn-info btn-lg btn-block" style="border-radius:2px;">想去的地方   <span class="badge"> 3</span></button>  
</div>
</div>

</div><!-- end of container -->

    {% endblock %}
