{% extends "website/base_index.html" %}
{% block title %}新建游记{% endblock %}
{% block content %}




<div class="container" align="center" >

<!--  表单从这里开始 -->
<div class="panel panel-info" style="margin-top:30px; width:60%; text-align:left;">


<div class="panel-heading">
    <h3 class="panel-title">新建游记</h3>
  </div>

  <div class="panel-body">
    <form class="form-horizontal" enctype="multipart/form-data" action='/user/new_travel' method="post" role="form">
  
  <div class="form-group">
    <label for="inputTravelName" class="col-sm-2 control-label" style="color: #104e8b;">游记标题</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" name='travel_name' id="inputTravelName" placeholder="我的游记标题" required minlength="10">
      <p class="help-block"></p>
    </div>
  </div>

   <div class="form-group">
                <label for="datetimepicker" class="col-sm-2  control-label" style="color: #104e8b;">开始时间</label>
                <div class="col-sm-6">
                    <input type="text"  class="form-control" name="start_time" value="" id="datetimepicker" placeholder="yyyy-mm-dd" required>
                </div>
                     
            </div>

 
  
  <div class="form-group">
    <label for="inputTravelName" class="col-sm-2 control-label" style="color: #104e8b;">游记描述</label>
    <div class="col-sm-9">
      <textarea class="form-control" rows="3" name="travel_description" placeholder="请在这里添加游记描述" required></textarea>
    </div>
  </div>
  <div class="form-group">
      <label for="cover_picker" class="col-sm-2 control-label" style="color: #104e8b;">上传封面</label>
      <div class="col-sm-4">
      <div id="cover_picker" class="fileinput fileinput-new" name="cover" data-provides="fileinput">

        <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 192px; height: 150px; padding:0;"></div>
        <div>
          <span class="btn btn-default btn-file btn-success btn-sm"><span class="fileinput-new">选择图片上传</span>
          <span class="fileinput-exists">重新选择图片</span><input type="file" name="cover" required></span>

          <a href="#" class="btn btn-default btn-danger fileinput-exists btn-sm" data-dismiss="fileinput">移除当前图片</a>
        </div>
      </div>
    </div>
  </div>
  

    
  </div><!--表单end, panel body end-->

<!-- 在表单后加footer脚注，因为是在panel里，表单放在panel body里 -->

<div class="panel-footer" style="clear:both;text-align:right; background-color:#ffffff; border-top-color:#bce8f1;">
 <!-- <div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">  -->
      <button type="submit" class="btn btn-primary" style="margin-right:50px;">添加游记</button>
  <!--  </div>
  </div>
--></div>


</div>

</form>


<div id="cover_view" style="width:50px;height:50px;display:block;"></div>  
</div><!-- container end-->





{% endblock %}