{% extends "website/base_index.html" %}
{% block title %}{{user.nickname}}的全部游记{% endblock %}
{% block background %}
  <div id="web_bg" style="position:absolute; width:100%; height:100%; z-index:-1"> 
<img style="position:fixed;" src="../../../static/travo/image/welcome_bg6.jpg" height="100%" width="100%" /> 
</div>
 {% endblock %}
{% block content %}

<div class="container" style="background-color:#ffffff;">

   <!-- my游记 -->


<div class="col-md-12" style=" padding-left:5px;margin-bottom:50px;margin-top:50px;">
<div class="col-md-4" >
<button type="button"  class="btn btn-info btn-lg btn-block" style="border-radius:2px;">所    有    游    记</button>  
 
</div>
</div>



{%for travel in travel_list %}
<div  class="col-md-4 column" >
<div class="panel panel-default" style="width:350px;">
  <div class="panel-body">
     <img src="http://travo-travel-cover.oss-cn-hangzhou.aliyuncs.com/{{travel.cover_path}}" alt="..." class="img-rounded" style="width:100%; height:250px; margin=0;">
    
  </div>
  <div class="panel-footer" align="left">
    <table class="table" style="width:300px;margin:0;padding:0;">
              <tr style="width:300px; padding:0; margin:0;" align="left">
                <div style="float:left;">

                <h5 class="pull-left"><a href="{%url 'detail_travel' travel.id %}">{{travel.title}}</a></h5>
                
                
              </div>
              

              <div class="btn-group " style="float:right; margin－top:0;" >
                    <button type="button" class="btn btn-link btn-sm" >标签1</button>
                    <button type="button" class="btn btn-link btn-sm" >标签2</button>
                </div>

              <div style="clear:both;">
                <h6 > {{travel.description}} </h6>
              </div>
               
                   
              </tr>
              
              <div style="clear:both; float:left;"><h6>2014-03-13</h6>
              </div>
              <div style="float:right; padding-right:10px;"><h6>
                <span class="glyphicon glyphicon-heart"></span> {{travel.create_time | date:"Y-m-d"}}
                <span class="glyphicon glyphicon-list-alt"></span>{{ travel.favorite_qty}}</h6>
              </div>

              </tr>
            
             </table>
</div>
</div>
</div>

{% endfor %}

<div class="row">
  <div class="col-md-12 " align="center">
    <div class="pagination">
{% if travel_list.has_previous %}
        <li><a class='paginator' title='上一页' href='?page={{ travel_list.previous_page_number }}'>&laquo;</a></li>
 {% endif %}
 {% for page in travel_list.paginator.page_range %}
     {% if page = travel_list.number %}
         <li><a class='paginator_current' title='当前页:{{ page }}'>{{ page }}</a></li>
     {% else %}
         <li><a class='paginator' href='?page={{ page }}' title='{{ page }}'>{{ page }}</a></li>
     {% endif %}
 {% endfor %}
 {% if travel_list.has_next %}
     <li><a class='paginator' title='下一页' href='?page={{ travel_list.next_page_number }}'>&raquo;</a></li>
 {% endif %}
</div>
</div>
</div>

</div><!-- end container -->
{% endblock %}