
{% extends "website/base_index.html" %}
{% block title %}搜索结果{% endblock %}

{% block content %}

<div class="container" style="background-color:#ffffff;">




<!-- Here comes the divider -->


<hr class="featurette-divider " style="margin-top:0;">
<div style="padding-bottom:20px;">
  <!-- 游记条题目 -->


<div class="col-md-12" style=" padding-left:5px;margin-bottom:20px;">
<div class="col-md-2" style="padding:0;">
<button type="button"  class="btn btn-info btn-lg btn-block" style="border-radius:2px;">搜索到的目的地   <span class="badge"> 10</span></button>  
 
</div>
</div>

<!-- destination搜索结果 从这里开始-->




</div>



</div><!-- end of container -->

    {% endblock %}
