{% extends "website/base_index.html" %}
{% block title %}修改信息{% endblock %}
{% block content %}



<div class="container">

<div class="row" align="center">

	<div class="panel panel-info" style="width:60%; margin-top:60px; text-align:left;">

<div class="panel-heading" >
    <h3 class="panel-title">账号设置</h3>
  </div>

		<div class="panel-body">

<!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="active"><a href="#editinfo" data-toggle="tab">修改个人信息</a></li>
  <li ><a href="#setpassword" data-toggle="tab">更改密码</a></li>
  <li><a href="#changemail" data-toggle="tab">修改邮箱</a></li>
  
</ul>

<!-- Tab panes -->
<div class="tab-content">
 <!-- tab0 starts here -->
 <div class="tab-pane fade  in active" id="editinfo">
    <form class="form-horizontal" role="form" style="margin-top:20px;" id="PersonalInfoForm">
  
  <div class="form-group">
    <label  class="col-sm-2 control-label" style="color: #104e8b;">姓名</label>
    <div class="col-sm-6">
      <input type="text" name="name" class="form-control" value={{userinfo.name}} >
    </div>
  </div>


  <div class="form-group">
  <label class="col-sm-2 control-label" style="color: #104e8b;">头像</label>
  <div class="fileinput fileinput-new" name="face_path" data-provides="fileinput">
  <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
    <img data-src="holder.js/100%x100%" alt="...">
  </div>
  <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"></div>
  <div>
    <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
  </div>
</div>
</div>
 


   <div class="form-group control-group">
    <label  class="col-sm-2 control-label" style="color: #104e8b;">性别</label>
    <div class="controls col-sm-2">
            {% ifequal userinfo.sex '男' %}
            <label class="radio inline col-sm-6" style="float:left;">
              <input type="radio"  name="sex" value="男" checked="checked"> 男
            </label>
            <label class="radio inline" style="float:left;">
              <input type="radio" name="sex" value="女" > 女
            </label>
            {% else %}
            <label class="radio inline col-sm-6" style="float:left;">
              <input type="radio"  name="sex" value="男" > 男
            </label>
            <label class="radio inline" style="float:left;">
              <input type="radio" name="sex" value="女" checked="checked"> 女
            </label>
            {% endifequal %}
          </div>
  </div>


<div class="form-group">
    <label  class="col-sm-2 control-label" style="color: #104e8b;">年龄</label>
    <div class="col-sm-2">
      <input type="text" name="age" class="form-control" value={{userinfo.age}} >
    </div>
  </div>


<div class="form-group">
    <label  class="col-sm-2 control-label" style="color: #104e8b;">职业</label>
    <div class="col-sm-3">
      <input type="text" name="job" class="form-control" value={{userinfo.job}} >
    </div>
  </div>


  <div class="form-group">
    <label  class="col-sm-2 control-label" style="color: #104e8b;">地址</label>
    <div class="col-sm-6">
      <input type="text"  class="form-control" value={{userinfo.address}} >
    </div>
  </div>


<div class="form-group control-group">
    <label  class="col-sm-2 control-label" style="color: #104e8b;">信息公开</label>
    <div class="controls col-sm-2">
            {% ifequal user.is_info_public 1 %}
            <label class="radio inline col-sm-6" style="float:left;">
              <input type="radio" value="1" name="is_info_public" checked="checked"> 是
            </label>
            <label class="radio inline" style="float:left;">
              <input type="radio" value="0" name="is_info_public"> 否
            </label>
            {% else %}
             <label class="radio inline col-sm-6" style="float:left;">
              <input type="radio" value="1" name="is_info_public" > 是
            </label>
            <label class="radio inline" style="float:left;">
              <input type="radio" value="0" name="is_info_public" checked="checked"> 否
            </label>
            {% endifequal %}
          </div>
  </div>
 
  
  <div class="form-group">
    <label class="col-sm-2 control-label" style="color: #104e8b;">个性签名</label>
    <div class="col-sm-9">
      <input name="signature" type="text"   class="form-control" rows="3" placeholder="请在这里添加游记描述" value={{user.signature}}></input>
    </div>
  </div>

 
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">  
      <button id="btnChangeInfo" type="submit" class="btn btn-primary" >确认修改</button>
   </div>
</div>
  



</form>
 </div><!-- tab0 end -->


	<!-- tab1 starts here -->
  <div class="tab-pane fade" id="setpassword">

  	 <form method="post" action="/user/change_password" class="form-horizontal" role="form" style="margin-top:20px;">
  
  <div class="form-group">
    <label for="inputTravelName" class="col-sm-2 control-label" style="color: #104e8b;">原始密码</label>
    <div class="col-sm-6">
      <input type="password" name="original_password" class="form-control" id="inputOringinPassword" >
    </div>
  </div>

   <div class="form-group">
    <label for="inputTravelName"  class="col-sm-2 control-label" style="color: #104e8b;">设置新密码</label>
    <div class="col-sm-6">
      <input type="password" name="new_password" class="form-control" id="inputNewPassword" >
    </div>
  </div>

 
  
  <div class="form-group">
    <label for="inputTravelName" name="confirm_password" class="col-sm-2 control-label" style="color: #104e8b;">确认新密码</label>
    <div class="col-sm-6">
      <input type="password" class="form-control" id="inputCheckPassword" >
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">  
      <button id="btnChangePassword" type="button" class="btn btn-primary" >确认修改</button>
   </div>
</div>



</form>

  </div><!-- tab1 end-->


  <!-- tab2 stars here -->
  <div class="tab-pane fade" id="changemail">

 <form class="form-horizontal" role="form" style="margin-top:20px;">
  
  <div class="form-group">
    <label for="inputTravelName" class="col-sm-2 control-label" style="color: #104e8b;">修改邮箱</label>
    <div class="col-sm-6">
      <input type="email" class="form-control" id="inputMailBox">
    </div>
  </div>


  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">  
      <button type="submit" class="btn btn-primary" >确认修改</button>
   </div>
</div>



</form>


  </div><!-- tab2 end-->

  <!-- tab3 stars here -->
 

</div><!-- tab content end -->
</div><!--  panel body end-->
</div><!--  panel end-->
</div><!-- row end -->

</div><!-- container end -->

<!-- 修改密码结果成功模态框 -->
<div class="modal fade" id="changePasswordSuccessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel" style="color: #104e8b;">修改信息</h4>
                     </div>
                     <div class="modal-body">
                      
                        <h6 class="modal-title" id="myModalLabel" style="color: #104e8b;">修改成功</h6>
                          
                          
                          </div>
                          <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">确认</button>
                    
                   </div>
                        </form>
                      

                    </div>
                   
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->

<!-- 修改密码结果失败模态框 -->
<div class="modal fade" id="changePasswordFailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" id="myModalLabel" style="color: #104e8b;">修改信息</h4>
                     </div>
                     <div class="modal-body">
                      
                        <h6 class="modal-title" id="myModalLabel" style="color: #104e8b;">修改失败</h6>
                          
                          
                          </div>
                          <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">确认</button>
                    
                   </div>
                        </form>
                      

                    </div>
                   
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->


{% endblock %}
{% block myscript %}
<script type="text/javascript">
$(document).ready(function(){
  $('#btnChangePassword').click(function(){
  var original_password = $("#inputOringinPassword").val();
  var new_password = $("#inputNewPassword").val();
  $.post("/user/change_password",{'original_password':original_password,'new_password':new_password}, function(ret){
    if(ret == '1')
      $('#changePasswordSuccessModal').modal('show');
    else
      $('#changePasswordFailModal').modal('show');
  });
  });
});
</script>
<script type="text/javascript">
var form = $('#PersonalInfoForm');
    form.submit(function () {
        $.ajax({
            type: 'post',
            url: '/user/set_account',
            data: form.serialize(),
            enctype: 'multipart/form-data',
            success: function (data) {
                $('#changePasswordSuccessModal').modal('show');
            },
            error: function(data) {
                $('#changePasswordFailModal').modal('show');
            }
        });
        return false;
    });
</script>

{% endblock %}