
{% extends "website/base_index.html" %}
{% block title %}Travo首页{% endblock %}
{% block background %}{%endblock%}
{% block content %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img  alt="First slide" src="../../static/travo/image/welcome_bg4.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>旅行的意义</h1>
              <p>其实旅行最大的好处，不是能见到多少人，见过多美的风景，而是走着走着，在一个际遇下，突然重新认识了自己</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">现在去登录</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img alt="Second slide" src="../../static/travo/image/welcome_bg2.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>旅行心语</h1>
              <p>一个人，要走多少条路，才能被称为一个人？一个人，要淌过多少条河，才能被称为一个人？一个人，要风干多少次泪水，才能被称为坚强？一个人，要把光芒洒向多开阔的远方，才能被称为活着？</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">热门游记</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img alt="Third slide" src="../../static/travo/image/welcome_bg3.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>属于自己的旅行</h1>
              <p>放下一切去旅行，不管前路如何，不管积蓄和工作，先这样吧，放自己一个长假，让我看到生命可以改变的更多形式——而事实往往证明，只有你离开“现在的”生活，你才会明白你该如何生活</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img alt="Forth slide" src="../../static/travo/image/welcome_bg8.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>旅行心语</h1>
              <p>别忘了答应自己要去的地方。不管有多远，有多难</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle"  src="../../static/travo/image/travel_tag1.jpg" style="width:250px;height:250px;">
                    <h2>热门游记</h2>
          <p>真正的旅行是一种生活态度，不在乎目的地是哪里和停留时间的长短，离开熟悉的环境去探索陌生的风景，体验一种从未有过的人生，你甚至不知道明天会遇到谁又有怎样的对白，旅途的一切都是未知数</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../../static/travo/image/travel_tag2.jpg" style="width:250px;height:250px;">
          <h2>旅游攻略</h2>
          <p>怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯怪我咯</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="../../static/travo/image/travel_tag3.jpg" style="width:250px;height:250px;">
          <h2>足迹记录</h2>
          <p>有一种旅行，不为跋涉千里的向往，只为漫无目的的闲逛，不为人山人海的名胜，只为怡然自乐的街景，或走，或停，原则就是看心情。不管雨下了多久，雨后都将会有彩虹，不管你有多悲伤，要坚信，幸福在等你！</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Cobra, Inc. &middot; <a href="#">Travo</a> &middot; <a href="#">条款</a></p>
      </footer>

    </div><!-- /.container -->


{% endblock %}

              




